.App {
  font-family: sans-serif;
}

.logs {
  display: grid;
  grid-template-columns: repeat(2, 175px);
  border: 1px solid black;
  grid-template-areas:
    "title  button dailyhrs "
    "punchTime  . dailyhrs";
}
.logPunch {
  grid-area: punchTime;
  display: flex;
  padding: 1rem;
}
.dailyHrs {
  grid-area: dailyhrs;
}
.control {
  grid-area: button;
}
.logPunchInputs {
  padding: 0 1rem;
}
